body {
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.global-table{
    margin-top: 10vh;
}

.carrousel-height{
    height: 10vh !important;
}

.my-border-primary{
    border-bottom: 4px solid rgb(0, 98, 204);
}

.my-border-success{
    border-bottom: 4px solid rgb(33, 136, 56);
}

.my-border-danger{
    border-bottom: 4px solid rgb(200, 35, 51);
}

.my-border-secondary{
    border-bottom: 4px solid rgb(90, 98, 104);
}

.div-primary{
    background-color: rgba(0, 98, 204, 0.2);
}

.div-success{
    background-color: rgba(33, 136, 56, 0.2);
}

.div-danger{
    background-color: rgba(200, 35, 51, 0.2);
}

.div-secondary{
    background-color: rgba(90, 98, 104, 0.2);
}

.footer-bg{
    background-color: rgba(128, 128, 128, 0.2);
}